html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

@media screen and (max-width: 600px) {
  #test {
    visibility: hidden;
    display: none;
  }
}

#menubar{
    text-align: center;
position: relative;
float: left;
top: 50%;
transform: translate(-50%, -50%);
}